#footer{
    width: 100%;
    height: 100%;
    background-color: rgb(74,74,74);
}
.footer-logo{
    margin-left: 250px;
    margin-top: 25px;
    width: 140px;
    cursor: pointer;
}

.footer-row{
    display: flex;
    margin-top: 25px;
    cursor: pointer;
}

.footer-row1{
    margin-left: 480px;
    margin-top: -60px;
    color: white;
    cursor: pointer;

}

.footer-row2{
    margin-left: 140px;
    margin-top: -60px;
    color: white;
    cursor: pointer;
}

.footer-row3{
    margin-left: 140px;
    margin-top: -60px;
    color: white;
    cursor: pointer;
}
.footerh1{
    color: white;
      text-align: center;
      margin-top: 100px  ;
      cursor: pointer;
}
.footer-row p:hover{
    cursor: pointer;
}

#footer>p{
    color: white;
    text-align: start;
    font-size: 16px;
    cursor: pointer;
}
#footer>p:hover{
    text-decoration: underline;
}

